@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=PT+Sans&display=swap");
* {
		padding: 0;
		margin: 0;
		border: 0; }

*, *:before, *:after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box; }

:focus, :active {
		outline: none; }

a:focus, a:active {
		outline: none; }

nav, footer, header, aside {
		display: block; }

html, body {
		height: 100%;
		width: 100%;
		font-style: 100%;
		line-height: 1;
		font-style: 14px;
		-ms-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%; }

input, button, textarea {
		font-family: inherit; }

input::-ms-clear {
		display: none; }

button {
		cursor: pointer; }

button::-moz-focus-inner {
		padding: 0;
		border: 0; }

a, a:visited {
		text-decoration: none; }

a:hover {
		text-decoration: none; }

ul li {
		list-style-type: none; }

img {
		vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
		font-style: inherit;
		font-weight: 400; }

* {
		padding: 0;
		margin: 0;
		border: 0; }

*, *:before, *:after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box; }

:focus, :active {
		outline: none; }

a:focus, a:active {
		outline: none; }

nav, footer, header, aside {
		display: block; }

html, body {
		height: 100%;
		width: 100%;
		font-style: 100%;
		line-height: 1;
		font-style: 14px;
		-ms-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%; }

input, button, textarea {
		font-family: inherit; }

input::-ms-clear {
		display: none; }

button {
		cursor: pointer; }

button::-moz-focus-inner {
		padding: 0;
		border: 0; }

a, a:visited {
		text-decoration: none; }

a:hover {
		text-decoration: none; }

ul li {
		list-style-type: none; }

img {
		vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
		font-style: inherit;
		font-weight: 400; }

.wrapper {
		width: 100%;
		min-height: 100%;
		overflow: hidden; }

.container {
		margin: 0 auto;
		width: 970px; }

header {
		padding: 29px 0 33px 0;
		background-color: #fff; }

.header-top {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between; }

.header-top-lang {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex; }

.header-top-lang_item {
		display: block;
		line-height: 19px;
		color: #000;
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 0 4px;
		margin: 0 10px 0 0; }
		.header-top-lang_item.active {
				background-color: #000;
				color: #fff; }

.header-top_link {
		font-size: 15px;
		text-transform: uppercase;
		text-decoration: underline;
		color: #000; }

.header-bottom {
		margin: -10px 0 0 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center; }

.header-bottom_column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 33.333%;
		        flex: 0 0 33.333%; }

.header-bottom-menu-list {
		margin: 0 -22.5px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex; }
		.header-bottom-menu-list li {
				padding: 0 22.5px; }
				.header-bottom-menu-list li:last-child {
						margin: 0; }

.header-bottom-menu_link {
		color: #000;
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 1.5px; }

.header-logo {
		display: block;
		text-align: center; }

.header-logo_text {
		display: block;
		color: #000;
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 8px; }

.header-logo_image {
		display: inline-block;
		margin: 13px 0px 22px 0px; }

.header-menu_icon {
		display: none; }

.private {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		background-color: #000;
		margin: 0 0 75px 0; }

.private_column {
		-webkit-box-flex: 50%;
		    -ms-flex: 50%;
		        flex: 50%; }

.private_column_image {
		width: 100%;
		height: 100%;
		background: url("../img/block1.jpg") 50%/cover no-repeat; }

.private-body {
		padding: 75px 0 70px 60px; }

.private-body-content {
		max-width: 305px; }

.private-body_title {
		font-size: 50px;
		letter-spacing: 5px;
		text-transform: uppercase;
		color: #fff;
		margin: 0 0 30px 0; }

.private-body_text {
		font-size: 15px;
		line-height: 25px;
		color: #fff;
		margin: 0 0 50px 0; }

.private-body_buttons {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center; }

.private-body_buttons-item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		        flex: 0 0 50%; }

.btn {
		display: inline-block;
		text-transform: uppercase;
		width: 150px;
		height: 50px;
		font-size: 15px;
		padding: 19px 0 0 26px; }
		.btn.btn--w {
				background-color: #fff;
				color: #000; }
		.btn.btn--b {
				background-color: #000;
				color: #fff; }

.private-body_buttons-link {
		text-transform: uppercase;
		color: #fff;
		font-size: 15px;
		text-decoration: underline;
		margin: 0 0 0 15px;
		letter-spacing: 1.5px; }

.products {
		margin: 0 0 40px 0; }

.products-body {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex; }

.products-column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 25%;
		        flex: 0 0 25%;
		margin: 0 0 40px 0; }

.products-item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		height: 100%; }

.products-item_image {
		display: block;
		margin: 0 0 25px 0; }

.products-item_title {
		height: 50px;
		overflow: hidden;
		padding: 0 10px 0 0;
		display: block;
		max-width: 185px;
		font-size: 25px;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		color: #000;
		margin: 0 0 30px 0; }

.products-item_text {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;
		padding: 0 10px 0 0;
		max-width: 185px;
		font-size: 15px;
		line-height: 25px;
		margin: 0 0 25px 0; }

.products-item_btn {
		margin: 0 0 29px 0; }

.products-item_link {
		font-size: 15px;
		text-transform: uppercase;
		text-decoration: underline;
		color: #000;
		letter-spacing: 1.5px; }

.why-top {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		background-color: #000; }

.why-top_column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		        flex: 0 0 50%; }

.why-top_text {
		text-align: right;
		padding: 50px 60px 50px 0;
		font-size: 50px;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 5px; }

.why-top_image {
		height: 100%; }

.why-body {
		background-color: #ebebeb;
		padding: 50px 0 0 0; }

.why-body_row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap; }

.why-body_column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		        flex: 0 0 50%;
		margin: 0 0 50px 0; }

.why-body-item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex; }

.why-body-item_icon {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100px;
		        flex: 0 0 100px;
		height: 100px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		background-color: #000; }

.why-body-item-body {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		padding: 0 0 0 11px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column; }

.why-body-item-body_title {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;
		font-size: 25px;
		text-transform: uppercase;
		letter-spacing: 2.5px; }

.why-body-item-body_text {
		font-size: 15px;
		line-height: 25px;
		padding: 0 15px 0 0; }

.contacts {
		padding: 80px 0 0 0; }

.contacts_title {
		text-transform: uppercase;
		font-size: 50px;
		letter-spacing: 5px;
		margin: 0 0 30px 0; }

.contacts-body {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap; }

.contacts-body_column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		        flex: 0 0 50%;
		margin: 0 0 20px 0; }

.contacts-body-item {
		font-size: 15px;
		padding: 0 0 0 35px;
		display: inline-block;
		line-height: 27px; }

.contacts-body-item--1 {
		background: url("../img/contacts/vv.png") left no-repeat; }

.contacts-body-item--2 {
		background: url("../img/contacts/email.png") left no-repeat; }

.contacts-body-item--3 {
		background: url("../img/contacts/telephone.png") left no-repeat; }

.contacts-social {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex; }

.contacts-social_item {
		margin: 0 30px 0 0; }
		.contacts-social_item:last-child {
				margin: 0; }

.contacts-content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		background-color: #000; }

.contacts-content_column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		        flex: 0 0 50%; }

.contacts-content_map {
		width: 100%;
		height: 100%;
		background: url("../img/contacts/Layer 2.jpg") 100%/cover no-repeat; }

.contacts-content_form {
		padding: 55px 60px; }

.contacts-content_form_title {
		text-transform: uppercase;
		font-size: 25px;
		letter-spacing: 5px;
		color: #fff;
		margin: 0 0 30px 0; }

.contacts-content_form_body {
		max-width: 375px; }

.contacts-content_form-line {
		margin: 0 0 25px 0; }

.input {
		border-radius: 0;
		width: 100%;
		display: block;
		padding: 0 18px;
		height: 50px;
		border: 2px solid #959595;
		background-color: #252525;
		font-size: 15px; }

textarea.input {
		resize: none;
		height: 100px;
		padding: 10px 18px; }

.contacts-content_form_btn {
		padding: 15px; }

.footer-body {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		height: 120px; }

.footer-text {
		color: #4d4d4d;
		font-size: 15px;
		line-height: 25px; }
		.footer-text_link {
				text-decoration: underline;
				color: #4d4d4d; }
				.footer-text_link:hover {
						text-decoration: none; }
